#dashboard{
    width: 77%;
    height: 94%;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    padding: 3%;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    height: 100%;
}
  
  .grid-item {
    background-color: white;
    border: solid 0 black;
    border-radius: 20px;
    padding: 10px;
  }
  
  #col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    height: 95%
  }
  #col1row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  #col2{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    height: 95%;
  }
#col1row1col1{
    display: flex;
}
.line-chart-t{
    width: 50%;
}
.line-chart{
    width: 50%;
}
#col1row1col2{
    display: flex;
}
#col2row2{
    display: flex;
}

#col1row1{
    padding: 20px;
}
  
  