#mainBody{
    height: 90vh;
    display: flex;
    width: 100%;
    overflow: hidden;
}

#loginPage{
    background-color: #ededed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginBox{
    background-color: white;
    height: 40%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBox #loginDetail{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#loginBox #keyImg{
    width: 50%;
}

#loginBox #mail{
    width: 100%;
    
}

#loginBox #btn{
    width: 100%;
}
#loginBox #mail input{
    width: 100%;
}

#loginBox #pass input{
    width: 100%;
}
#loginBox #pass{
    width: 100%;
}

#loginBox button{
    width: 100%;
    background-color: rgb(153, 0, 255);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#loginBox input{
    padding: 10px;
    border: solid 1px #d8d8d8;
    border-radius: 2px;
}